body {
    background-color: lightsalmon;
    color: white;
}

#container {
    max-width: 1200px;
    margin: auto;
}

h1 {
    font-family: 'Playfair Display', serif;
    position: fixed;
    background-color: #80ebf3;
    margin-top: 0;
    padding: 15px;
    -webkit-box-shadow: 0 1px 1px 1px #0b4a37;
    box-shadow: 0 1px 1px 1px #0b4a37;
}

img {
    width: 100%;
}

article {
    padding: 0 3% 0 3%;
}

p {
    font-family: 'Josefin Slab', serif;
}

h2,
form {
    font-family: 'Playfair Display', serif;
    margin-bottom: 10px;
}

form {
    margin: auto;
    padding-bottom: 15px;
}

form input {
    display: block;
    width: 50%;
    margin-bottom: 10px;
}

footer {
    background-color: #80ebf3;
    padding: 6px;
}

footer a {
    color: lightsalmon;
    text-decoration: none;
}
